<!DOCTYPE html>
<html>
<head>
    <title>Users</title>
    <style>
        table {
            width: 50%;
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 18px;
            text-align: left;
        }
        th, td {
            padding: 12px;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Users</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Get Recommendations</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.name }}</td>
            <td><a href="/recommendations/{{ user.user_id }}">Get Recommendations</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>